/* 📂 changepassword.css */

.changePasswordContainer{
  width: 70%;
  min-height: 100vh;

  background: #f4f6f9;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  box-sizing: border-box;
}

.changePasswordBox{
  width: 100%;
  max-width: 500px;

  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.changePasswordBox h1{
  font-size: 35px;
  margin-bottom: 10px;
  color: #222;
}

.changePasswordBox p{
  color: gray;
  margin-bottom: 30px;
}

.changePasswordBox form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputBox{
  display: flex;
  flex-direction: column;
}

.inputBox label{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.inputBox input{
  padding: 15px;

  border: 1px solid #ddd;

  border-radius: 10px;

  outline: none;

  font-size: 16px;

  background: #fafafa;

  transition: 0.3s;
}

.inputBox input:focus{
  border-color: red;
  background: white;
}

.changePasswordBox button{
  padding: 15px;

  border: none;

  background: red;

  color: white;

  border-radius: 10px;

  cursor: pointer;

  font-size: 17px;

  font-weight: bold;

  transition: 0.3s;
}

.changePasswordBox button:hover{
  background: black;
}

/* MOBILE */

@media(max-width:768px){

  .changePasswordBox{
    padding: 25px;
  }

  .changePasswordBox h1{
    font-size: 28px;
  }

}